# Project exclude paths
/.gradle/
/app/build/
/app/build/intermediates/javac/debug/classes/
/bookmark/build/
/bookmark/build/intermediates/javac/debug/classes/
/core/build/
/core/build/intermediates/javac/debug/classes/